.intro{
    width : 100%;
    display : flex;
    flex-wrap: wrap-reverse;
    position:relative;
    justify-content: space-around;
    z-index: 1;
    padding-bottom: 145px;

    &_image{
    
        width: 375px;
        height: 273px;
        background-size: cover;
    }
    
    &_text{
        padding-top: 50px;
    }

    

}
